body {
    position: absolute;
}

nav {
    background-color: lightgray;
    padding: 0px;
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

nav .navItem {
    display: inline-block;
    padding: 10px 30px 10px 30px;
    background-color: rgb(58, 58, 58);
    margin: 0px;
}
.navItem span {
    color: white;
    font-family: sans-serif;
}

main .contentLeft {
    width: 29%;
    height: 700px;
    /*display: block;*/
    background-color: blue;
    float: left;
    z-index: 2;
}

main .contentRight {
    background-color: aqua;
    height: 700px;
    width: 71%;
    float: left;
    z-index: 3;
}

main .contentLeft .contentLeftTop {
    height: 250px;
    background-color: lightgray;
    /*width: 100%;*/
    display: block;
    border: 1px solid darkgray;
    padding-top: 20px;
    text-align: center;
}
main .contentLeft .contentLeftBottom {
    height: 450px;
    background-color: lightgray;
    /*width: 100%;*/
    display: block;
    border: 1px solid darkgray;
    padding-left: 20px;
    
}
img {
    border-radius: 20px;
}
